body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

#sidebar {
    width: 280px;
    max-width: 300px;
    background-color: rgba(0, 121, 194, 1);
    transition: width 0.3s;
}

.main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (max-width: 1100px) {
    #sidebar {
        width: 70px;
    }

    .menu li a .menu-text-downloadProtocol,
    .menu li a .menu-text-errand,
    .menu li a .menu-text-reportProtocol,
    .menu li a .menu-text-feedback,
    .menu-person li a .person-name {
        display: none;
    }

    .menu li .menu-text-downloadProtocol,
    .menu li .menu-text-errand,
    .menu li .menu-text-reportProtocol,
    .menu li .menu-text-feedback {
        font-size: 0;
    }

    .btn-bell {
        display: none;
    }
}

.menu-person {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 15px;
    margin-bottom: 50px;
}

.menu-person li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 40px;
    margin-left: 5px;
}

.menu-person li a {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: #fff;
    padding: 10px;
}

.menu-person li a .menu-text {
    margin-left: 10px;
    font-size: 1.3rem;
}

.person-name {
    margin-left: 10px;
    font-size: 1.3rem;
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tooltip {
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    z-index: 999;
}

.block:hover .tooltip {
    display: block;
}

.btn-img {
    border-radius: 100px;
}

.btn-bell {
    padding: 0px;
    margin-left: auto;
    margin-right: 5px;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 50px;
    margin-left: 10px;
    margin-bottom: 30px;
}

.menu li a {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: #fff;
    padding: 10px;
    width: 100%;
}

.menu li a .menu-text-downloadProtocol,
.menu li a .menu-text-errand,
.menu li a .menu-text-reportProtocol,
.menu li a .menu-text-feedback {
    margin-left: 10px;
    font-size: 1.3rem;
}

.menu li.feedback {
    margin-top: 100px;
}

.menu .active {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 20px 0px 00px 20px;
}

.menu .active a {
    color: rgba(0, 121, 194, 1);
}

.menu .active .btn-download {
    content: url('img/downloadActive.svg');
}

.menu .active .btn-errand {
    content: url('img/errandActive.svg');
}

.menu .active .btn-report-protocol {
    content: url('img/generalReportActive.svg');
}

.menu .active .btn-exit {
    content: url('img/exitActive.svg');
}

.menu .active .btn-feedback {
    content: url('img/feedbackActive.svg');
}