.main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* #myForm{
    background-color: rgb(255, 0, 0);
} */

.form-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 150px;
}

.gazpromlogo {
    margin-top: 100px;
}

.btn {
    font-size: 20px;
}

@media only screen and (max-width: 800px) {
    .form-group {
        flex-direction: column;
        align-items: center;
    }

    .btn {
        margin-top: 20px;
    }
}

input[type=file]::file-selector-button, .loading{
    margin-right: 5px;
    border: none;
    background: rgba(0, 121, 194, 1);
    padding: 10px 10px;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover, .loading:hover{
    background: #0d45a5;
}